{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content%}

<div class="container mt-5">
    <h1>Home</h1>

    <div class="row">
        {% for article in articles %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
