{% extends 'base.html' %}

{% block title %} Sing co-signer {% endblock %}


{% block content %}
    <main class="container">
    	<div class="row">
      
            <div class="col-md-6 offset-md-4 mt-3">
            	<form method="POST" action="{% url 'create_cosigner' %}" class="card card-body">
                {% csrf_token %}
                <h1 class="text-center mb-4">¡Registra tu codeudor!</h1>
               	{{mensaje}}

               {{form.as_p}}
            
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>

            </div>
        
    </div>
    </main>
{% endblock %}


